@import "tailwindcss";

@theme {
  --color-primary: #006574;
  --color-on-surface: #191c1e;
  --font-h1: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  --primary: #006574;
}

body {
  background-color: #f7f9fb;
  color: #191c1e;
  font-family: var(--font-body);
}
